.App{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    width: 40%;
    max-width: 591px;
    max-height: 628px;
    height: 80%;
    background-color: rgba(143, 201, 205,0.25);
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.username, .password{
    position: relative;
    margin-top: 40px;
    width: 60%;
    padding: 15px;
    background-color: #00FFE0;
    color: white;
    border-radius: 10px;
    border: none;
}


.loginBtn{
    position: relative;
    margin-top: 50px;
    padding: 5px 60px;
    font-size: 1.2rem;
    background-color: rgba(170, 108, 248,0.8);
    border: none;
    color: white;
    border-radius: 20px;
}

.loginBtn:hover{
    background-color: rgba(114, 54, 189, 0.8);;
}


.links a{
    text-align: center;
    text-decoration: none;
    color: white;
}

.links a:hover{
    color: rgb(59, 210, 230);
}



.links{
    position:relative;
    margin-top: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}